<!DOCTYPE html>
<html lang="en" class="bg-black">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    <main class=' px-36 mx-48 my-45 rounded-2xl justify-between  mt-28 h-screen place-items-center py-10 text-gray-50 flex-auto space-y-16 shadow-2xl dark:bg-slate-800 bg-gray-600 p-24 '>
        <h1 class='justify-self-center text-5xl mb-5 text-yellow-500'>Face Detection</h1>
        <h2 class='font-serif mt-9'>Welcome to our website, where we present our state-of-the-art face recognition algorithm. We have leveraged the power of OpenCV MediaPipe to develop an advanced algorithm that can accurately recognize faces in real-time. Our algorithm is designed to work seamlessly with a MongoDB database, which allows for efficient storage and retrieval of face data. To provide an intuitive user interface, we have integrated our algorithm with a ReactJS frontend that offers a user-friendly experience.</h2>
        <img class='mb-72 ml-24' src="{{url_for('static', filename='facial-recognition-data-collection.jpg')}}"></img>
    </main>
    <div class='justify-self-end'>
         <h1 class='font-bold text-4xl mb-10 mt-28 ml-36 pl-40 mt-10 text-white'>Information
           </h1>
         <div class='mx-36 font-serif pl-40 pr-40 text-white'>Our system is designed to address the increasing demand for reliable face detection systems that can function effectively in complex and changing environments.<br></br>
         At the heart of our system are two powerful computer vision libraries - OpenCV and MediaPipe. OpenCV provides a variety of pre-trained models, including Haar Cascades and Deep Learning-based models, that are optimized for speed and accuracy. MediaPipe offers a pipeline-based architecture that optimizes the processing of data, making it suitable for real-time applications. By integrating these two libraries, we have created an advanced algorithm that is capable of detecting faces in real-time with high accuracy.<br></br>
         To enable efficient storage and retrieval of face data, we have integrated our system with a MongoDB database. MongoDB is a NoSQL database that is designed for scalability and flexibility. It can handle large amounts of data effectively, making it an excellent choice for storing and retrieving face data. With this integration, our system can store and retrieve face data efficiently, allowing for fast and reliable access to the data.<br></br>
         The ReactJS frontend provides an intuitive user interface for interacting with the system, making it easy to visualize and analyze the data. The user-friendly interface allows users to interact with the system effectively and provides a platform for analysis of the data.<br></br><br></br>
         Our face detection system is suitable for various applications, including security, surveillance, and user experience. For example, it can be used in security systems to monitor the entry and exit of individuals in a restricted area, or in user experience systems to enhance facial recognition in smart homes, automobiles, and other devices. Our solution is likely to find widespread adoption in these fields due to its high accuracy, efficiency, and user-friendliness.<br></br>
         Explore our website to learn more about our technology and how it can benefit your work. We offer a powerful, reliable, and advanced solution that can meet your face detection needs.

       </div>
    </div>

<div class= 'my-16'>
<!-- {/* <button class='bg-neutral-800 text-gray-50 px-2 py-2 rounded-lg w-20 ml-24' disabled='true'>prev</button> */} -->
<a id="myAnchor" href="http://127.0.0.1:5000/video_feed"><button class=' text-gray-50 px-2 py-2 rounded-lg h-11 bg-gray-700 ml-40 w-20'>start</button></a>
</div>

</body>
</html>